:root{
    --primary-color:rgb(245, 229, 4);
    --font-size:20px;
}

*{
    margin:0;
    padding: 0;
}


body{
    color:var(--primary-color);
    font-size: var(--font-size);
}

p{
    font-size: 2rem;
}

#showcase{
    background-image: url(../img/sean.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#showcase::after{
    content: '';
    position: absolute;
    top:0px;
    left: 0px;
    background-color:rgb(0,0,0,0.5) ;
    width: 100vw;
    height: 100vh;
    z-index: 1;

}


.msg, h1, a{
    color:var(--primary-color);
    z-index: 2;    
}